// =============================================================================================
// ██████  ██   ██    ██ ██████
// ██   ██ ██    ██  ██  ██   ██
// ██████  ██     ████   ██████
// ██      ██      ██    ██   ██
// ██      ███████ ██    ██   ██
// =============================================================================================

$plyr-color-main: $blue;
$plyr-color-gunmetal: $gray-dark1;
$plyr-color-fiord: $gray-medium;
$plyr-color-lynch: $gray-light1;
$plyr-color-heather: $gray-light2;

$plyr-font-family: 'proxima-nova';
$plyr-font-size-base: 20px;
$plyr-font-size-small: 15px;
$plyr-font-size-large: 20px;
$plyr-font-size-xlarge: 27px;

$plyr-font-size-time: 15px;
$plyr-font-size-badge: 10px;

$plyr-font-weight-regular: $global-weight-normal;
$plyr-font-weight-bold: $global-weight-bold;

$plyr-line-height: $paragraph-lineheight;

.plyr li {
    margin: 0;
}

.plyr__control {
    font-size: $plyr-font-size-small;
}
// -----  End of PLYR  ---------------------------------------------
